<results>
  <priceconfig>65217.3913043</priceconfig>
  <priceconfig>2000</priceconfig>
  <priceconfig>3500</priceconfig>
  <priceconfig>6000</priceconfig>
  <priceconfig>2500</priceconfig>
  <priceconfig>250</priceconfig>
  <priceconfig>50</priceconfig>
  <priceconfig>250</priceconfig>
  <priceconfig>50</priceconfig>
  <priceconfig>1800</priceconfig>
  <priceconfig>2500</priceconfig>
  <priceconfig>50</priceconfig>
  <priceconfig>50</priceconfig>
  <priceconfig>50</priceconfig>
  <priceconfig>100</priceconfig>
  <priceconfig>1.15</priceconfig>
  <priceconfig>0.9</priceconfig>
</results>